@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

:root {
    --primary-color: #ffeacc;
    --secondary-color: #321713;
    --accent1-color: #492E28;
    --accent2-color: #E8D3B7;


    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Playfair Display', serif;
    --headline-color-on-color: #321713;
    --paragraph-color-on-color: #321713;

}




:root {
    --primary-color: #ffeacc;
    --secondary-color: #321713;
    --accent1-color: #492E28;
    --accent2-color: #E8D3B7;


    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Playfair Display', serif;
    --headline-color-on-color: #321713;
    --paragraph-color-on-color: #321713;

}

body {
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    background-color: var(--primary-color);


}

header {
    display: flex;
    justify-content: space-evenly;
}

.contact,
.address {

    align-items: center;
    text-align: center;


}

.contact p,
.address p {
    padding-top: 50px;
}


header img {
    width: 150px;



}


.mode {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    margin: 15px;
}

.mode input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #321713;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #E8D3B7;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: black;
    color: #fff;
}

input:focus+.slider {
    box-shadow: 0 0 2px #ffeacc;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #fff;
}


.dark-mode {
    background-color: #000;
    color: var(--primary-color);
    border: solid #ffeacc;
}


.navigation {
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    display: flex;

    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    filter: drop-shadow(0 0 1rem #000);

}

.nav-bar {
    width: 100%;


}

.nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;

}

.nav-bar ul li a {
    text-decoration: none;
    display: block;
    color: var(--primary-color);
    font-size: 20px;
    padding: 10px 25px;
    transition: .2s;

}

.nav-bar ul li a::after {
    display: block;
    content: "";

}

.close {
    display: none;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 50px;
}

/* HERO SECTION */

.hero {

    grid-column: span 2;


}

.hero img {
    width: 100%;
    object-fit: cover;
    filter: saturate(100%)
}

.hero-label {
    position: absolute;
    font-family: "Castoro Titling", 'serif';
    top: 220px;
    left: 32%;
    color: var(--accent2-color);
    z-index: 2;
    font-size: large;
    letter-spacing: 2px;
    text-shadow: 12px 12px 10px #000;
}


.call-to-action {
    position: absolute;
    top: 800px;
    width: 100%;
    display: flex;
}

#banner-close {
    position: absolute;
    right: 10px;
    top: 12px;
    background-color: var(--secondary-color);
    padding: 10px;

}

#banner-close::before {
    content: "X";
    color: var(--primary-color);
}




.spotlight {
    grid-column: span 2;
}

/* Weather  */

.dark-mode-weather {
    border: none;
    color: var(--primary-color);

}

.weather {

    color: var(--secondary-color);
    height: 250px;
    filter: drop-shadow(0 0 1rem #000);

}

.weather,
.events,
.call-to-action,
.spotlight {
    background-color: #fff0db;
    filter: drop-shadow(0 0 .5rem #000);
    color: var(--secondary-color);
    font-family: var(--heading-font);

}

.weather-icon {
    filter: drop-shadow(0 0 .5rem #000);
}

#weather-forecast {

    display: grid;
    grid-gap: 15px;


    align-items: center;
    text-align: center;
    justify-content: center;


}

.weather h2 {
    font-family: 'Merriweather', 'serif';

}


.forecast {
    grid-row: 1;
}

.today-forecast {
    grid-row: 1;
    display: flex;
}

footer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
    background-color: var(--secondary-color);
    flex-direction: column;
}

/* Discover Page */
.discover-left {
    grid-column: 1;
    width: 500px;
    border-right: solid 2px var(--secondary-color);

}

/* EVENTS */
.discover-events {
    display: flex;
    flex-direction: column;
}

.events-holder,
.attraction-holder {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.event-card,
.attraction-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
    border-bottom: 2px dotted var(--accent1-color);
    align-items: center;

}

.event-card:last-child,
.empanada-card:last-child,
.attraction-card:last-child {
    border-bottom: 2px solid var(--accent1-color);
}





.event-card img,
.attraction-card img {
    width: 150px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;



}

.event-card picture {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.event-card a {
    grid-row: 1;
    grid-column: 2;
    font-family: var(--heading-font);
    text-decoration: none;
}

.event-card p {
    grid-row: 2;
    grid-column: 2;
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

.discover-events h2,
.discover-empanadas h2,
.discover-attractions h2,
.visits h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    filter: drop-shadow(0 0 1rem #000);
}

/* Empanadas */



.empanada-card p {
    font-family: var(--paragraph-font);

}

.empanada-card a {
    text-decoration: none;
}

.empanada-card img {
    width: 500px;
    height: 382px;
    object-fit: cover;
    border-radius: 25px;

}


.name {
    position: relative;
    display: inline-block;
}

.name .img-hover {
    visibility: hidden;
    position: absolute;
    width: 50px;

    z-index: 1;
}

.name:hover .img-hover {
    visibility: visible;

}

.attraction-card {
    align-items: center;
    padding: 25px;
}

.attraction-holder {
    width: 100%;

}

.attraction-card p {
    font-family: var(--paragraph-font);

}




/* GALLERY */
.discover {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.discover-gallery {
    padding-bottom: 2rem;
}

.discover-gallery picture img {
    width: 600px;
    height: 720px;
    object-fit: cover;

}

.discover-gallery p {
    text-shadow: 2px 2px 5px var(--secondary-color);
    font-size: larger;
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    text-align: center;
}

.discover-gallery picture img:hover {
    box-shadow: 0 0 50px #333;
}

/* JOIN FORMS */

.chamber-join fieldset {
    margin: 2rem 0;
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
    padding: .5rem 2%;
    width: 100%;
}



.chamber-join label {
    display: block;
    text-align: left;
    padding: .5rem;
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    font-size: .9rem;


}

.chamber-join legend {
    font-family: var(--heading-font);
}

.chamber-join input[type="text"],
.chamber-join input[type="email"],
.chamber-join input[type="tel"] {
    display: block;
    filter: drop-shadow(1px 1px 1px black);
    padding: .75rem;
    width: 90%;
    max-width: 400px;
    appearance: none;

}

.chamber-join input[type="submit"] {
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 5px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.chamber-join input:required {
    border-left: solid 6px var(--accent1-color);
}

.chamber-join input:required:valid {
    border-left: solid 6px green;
}

.level li {
    list-style: none;

}

.levels {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.level {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--primary-color);
}

.level label {
    color: var(--primary-color);
}

.level:first-child {


    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(94, 94, 113, 1) 100%, rgba(0, 212, 255, 1) 100%);
    width: 32%;
}

.level:nth-child(2) {

    background: linear-gradient(90deg, rgba(50, 23, 19, 1) 0%, rgba(205, 127, 50, 1) 100%);
    width: 32%;
}

.level:nth-child(3) {

    background: linear-gradient(90deg, rgba(50, 23, 19, 1) 0%, rgba(90, 90, 90, 1) 49%);
    width: 32%;
}

.level:last-child {
    background: linear-gradient(90deg, rgba(50, 23, 19, 1) 0%, rgba(212, 175, 55, 1) 100%);

    width: 32%;
}



/* DIRECTORY */



/* #member-cards {
    align-items: center;
    justify-content: center;
    text-align: center;
} */

.member {

    padding: 2rem;
    box-shadow: 0 5px 20px -2px #464444;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.gold {
    background: linear-gradient(90deg, rgba(50, 23, 19, 1) 0%, rgba(212, 175, 55, 1) 100%);
}

.silver {
    background: linear-gradient(90deg, rgba(50, 23, 19, 1) 0%, rgba(90, 90, 90, 1) 49%);
}

.bronze {
    background: linear-gradient(90deg, rgba(50, 23, 19, 1) 0%, rgba(205, 127, 50, 1) 100%);
}

.non {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(94, 94, 113, 1) 100%, rgba(0, 212, 255, 1) 100%);
}



.member img {
    filter: drop-shadow(0 0 1rem #000);
}

.member p {
    color: var(--accent2-color);

}

.menu-buttons {
    text-align: center;
    align-items: center;
    padding: 1rem
}

#grid,
#list {
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    padding: .8rem;

    max-width: 400px;

    box-shadow: 1px 1px 4px #999;
}

#grid:hover,
#list:hover {
    background-color: var(--accent2-color);
    color: #321713;
}

#grid:focus,
#list:focus {
    background-color: var(--accent2-color);
    color: #321713;
}

.member-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding-bottom: 2rem;

}

.member-cards section a,
.list section a {
    color: var(--accent2-color);
}

.member-cards section a:hover,
.list section a:hover {
    color: blue;
}



.member:last-child {
    grid-column: 2;
}

.list {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    gap: 20px;
}

.list section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.list img {
    display: none;
}

iframe {
    width: 100%;
    height: 300px;
}