@media screen and (min-width: 501px) and (max-width: 769px) {


    .hero img {
        width: 100%;
        object-fit: cover;
    }

    .hero-label {
        left: 35%;
    }

    .navigation {
        width: 146.5%;
    }

}