@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display&display=swap");

:root {
    --primary-color: #ffeacc;
    --secondary-color: #321713;
    --accent1-color: #492E28;
    --accent2-color: #E8D3B7;


    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Playfair Display', serif;
    --headline-color-on-color: #321713;
    --paragraph-color-on-color: #321713;

}

@media screen and (max-width: 500px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;



    }

    nav {
        background-color: var(--secondary-color);

    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    #menu {
        display: block;
        font-size: 2rem;
        text-decoration: none;
        color: #321713;


    }

    .navi {
        list-style: none;
        margin: 0 auto;
        max-width: 500%;
    }



    .navi li {
        display: none;
    }


    .navi a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: var(--primary-color);
        font-family: var(--paragraph-font);
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }





    .navi a:hover,
    .navi a:active {
        color: var(--primary-color);
        background-color: var(--secondary-color);

    }

    #menu::before {
        content: "☰";
        color: var(--secondary-color);


    }

    .open li {
        display: block;
    }

    #menu.open::before {
        content: "X";
        color: var(--secondary-color);

    }

    main {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .dark-mode {
        border-color: var(--primary-color);
    }




}