@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Source+Serif+Pro&display=swap');

body {
    background-color: #dff0c2;
}

::selection {
    color: #0b3003;
    background-color: #ddf3b4;
}

/* This is for PC view */
@media screen and (min-width: 601px) {
    header {
        width: 100%;
        background-color: #053d2c;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        filter: drop-shadow(0 0 1rem black);

    }

    header h1 {
        font-family: "Source Serif Pro";
        color: #a3b18a;
    }

    header img {
        width: 80px;
        height: 90px;
        border-radius: 15px;
        filter: drop-shadow(0 0 1rem black);

    }

    .navigation {

        align-items: center;
        justify-content: center;
        font-family: "Dancing Script";
        padding-top: 15px;

    }

    .navigation a {
        color: #053d2c;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;

    }

    .navigation a:hover {
        background-color: #053d2c;
        color: #a3b18a;
        border-radius: 20px;
    }

    .navigation {
        list-style: none;
        display: flex;

    }

    .navigation li {
        flex: 1 1 100%
    }

    #menu {
        display: none;
    }

    #hero {
        height: 550px;
        position: relative;
    }

    #hero img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: saturate(150%)
    }

    .herolabel {
        position: absolute;
        top: 90px;
        left: 220px;
        font-family: "Dancing Script";
        background-color: transparent;
        border: 0.5px solid whitesmoke;
        backdrop-filter: blur(15px);
        padding: 1.5rem;

        font-weight: 700;
        font-size: 2rem;
        color: #000000;

    }







    main {


        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: "Source Serif Pro";
        color: #053d2c;

    }

    main h2 {
        grid-column: span 2;
        text-align: center;

    }


    section {
        filter: drop-shadow(0 0 1rem black);
    }

    section h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #053d2c;
        color: #a3b18a;
        border-radius: 25px;
        height: 45px;


    }

    section li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

    }

    section li a {
        text-decoration: none;
        color: #053d2c;
        font-family: "Dancing Script";
        list-style: none;
        position: relative;
        display: block;
        transition: 0.5s;
        cursor: pointer;

    }

    section li a::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
        transition: transform 0.5s;
        transform: scaleY(0);
        transform-origin: right;
        background-color: #053d2c;
    }

    section li a:hover {
        color: #053d2c;
    }

    section li a:hover::after {
        transform: scaleY(1);
        transform-origin: center;

    }

    .la-card a {
        color: #0b3003;
    }






    .dataholder {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Dancing Script";
    }

    .weather {
        display: flex;
        align-items: center;
        gap: 15px;
    }







    footer {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #dff0c2;
        font-family: "Dancing Script";
        background-color: #053d2c;
        flex-direction: column;


    }

    strong {
        font-family: "Dancing Script";
    }

    #lastModified {
        font-family: "Source Serif Pro";
    }
}

iframe {
    width: 100%;
    height: 300px;
}

/* This is for mobile view */
header {
    filter: drop-shadow(0 0 1rem black);
}

@media screen and (max-width: 600px) {
    nav {
        background-color: #a3b18a;

    }

    header {
        width: 100%;
        background-color: #053d2c;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

    }

    header h1 {
        font-family: "Source Serif Pro";
        color: #a3b18a;
    }

    header img {
        width: 80px;
        height: 90px;
        border-radius: 15px;
        filter: drop-shadow(0 0 1rem black);

    }

    #menu {
        display: block;
        font-size: 2rem;
        text-decoration: none;
        color: #053d2c;
        background-color: #a3b18a;

    }

    #hero {
        width: 100%;
        position: relative;
    }

    #hero img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .herolabel {
        position: absolute;
        top: 220px;
        left: 10px;
        font-family: "Dancing Script";
        background-color: transparent;
        border: 0.5px solid whitesmoke;
        backdrop-filter: blur(5px);
        padding: 0.50rem;

        font-weight: 700;
        font-size: 1rem;
        color: #000000;

    }


    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 500%;

    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #053d2c;
        font-family: 'Dancing Script';
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    .navigation a:hover,
    .navigation a:active {
        color: #a3b18a;
        background-color: #053d2c;
    }

    #menu::before {
        content: "☰";




    }

    .open li {
        display: block;

    }

    #menu.open::before {
        content: "X";

    }







    main {
        display: grid;

        width: 100%;
        font-family: "Source Serif Pro";
        color: #053d2c;

    }

    main h2 {
        text-align: center;
    }

    section {
        filter: drop-shadow(0 0 1rem black);
    }

    section h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #053d2c;
        color: #a3b18a;
        height: 45px;
        border-radius: 25px;
    }

    section strong {
        font-family: "Source Serif Pro";
    }

    section li {
        display: flex;
        flex-direction: column;
    }

    section li a {
        text-decoration: none;
        color: #053d2c;
        font-family: "Dancing Script";
        list-style: none;
        position: relative;
        display: block;
        transition: 0.5s;
        cursor: pointer;

    }

    section li a::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 100%;
        left: 0;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
        background-color: #053d2c;
    }

    section li a:hover {
        color: #053d2c;
    }

    section li a:hover::after {
        transform: scaleX(1);
        transform-origin: left;

    }

    .info {
        text-align: center;
    }

    .weather {
        display: flex;
        justify-content: center;
    }


}

section ul {
    align-items: center;
    justify-content: center;
    text-align: center;
}




footer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #dff0c2;
    font-family: "Dancing Script";
    background-color: #053d2c;
    flex-direction: column;


}

strong {
    font-family: "Dancing Script";
}

#lastModified {
    font-family: "Source Serif Pro";
}

.confirm button {
    background-color: #053d2c;
    border-radius: 5px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    color: #dff0c2;
    margin: -1rem 2% 2rem 2%;
    font-size: 1.23rem;
    box-shadow: 1px 1px 4px black;
}

.confirm p {
    margin-bottom: 100px;
}