@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Source+Serif+Pro&display=swap');

body {
    background-color: #dff0c2;
}

::selection {
    color: #0b3003;
    background-color: #ddf3b4;
}

/* This is for PC view */
@media screen and (min-width:500px) {
    header {
        width: 100%;
        background-color: #053d2c;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

    }

    header h1 {
        font-family: "Source Serif Pro";
        color: #a3b18a;
    }

    header img {
        width: 80px;
        height: 90px;
        border-radius: 15px;

    }

    .navigation {

        align-items: center;
        justify-content: center;
        font-family: "Dancing Script";
        padding-top: 15px;

    }

    .navigation a {
        color: #053d2c;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;

    }

    .navigation a:hover {
        background-color: #053d2c;
        color: #a3b18a;
        border-radius: 20px;
    }

    .navigation {
        list-style: none;
        display: flex;

    }

    .navigation li {
        flex: 1 1 100%
    }

    #menu {
        display: none;
    }




    main {


        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        place-items: center;
        font-family: "Source Serif Pro";
        color: #053d2c;

    }

    main h2 {
        grid-column: 1 / span 2;

    }





    .card {
        display: grid;
        grid-template-columns: auto;
        place-items: center;
        width: 90%;


    }




    .card li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card li a {
        text-decoration: none;
        color: #053d2c;
        font-family: "Dancing Script";
        list-style: none;
    }

    .card h3 {
        width: 100%;
        height: 50px;
        color: #a3b18a;
        background-color: #053d2c;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
    }



    footer {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #dff0c2;
        font-family: "Dancing Script";
        background-color: #053d2c;
        flex-direction: column;


    }

    strong {
        font-family: "Dancing Script";
    }

    #lastModified {
        font-family: "Source Serif Pro";
    }
}

iframe {
    width: 100%;
    height: 300px;
}

/* This is for mobile view */
@media screen and (max-width: 500px) {
    nav {
        background-color: #a3b18a;
    }

    header {
        width: 100%;
        background-color: #053d2c;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

    }

    header h1 {
        font-family: "Source Serif Pro";
        color: #a3b18a;
    }

    header img {
        width: 80px;
        height: 90px;
        border-radius: 15px;

    }

    #menu {
        display: block;
        font-size: 2rem;
        text-decoration: none;
        color: #053d2c;
        background-color: #a3b18a;

    }



    .navigation {
        list-style: none;
        margin: 0 auto;
        max-width: 500%;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: #053d2c;
        font-family: 'Dancing Script';
        transition: 0.5s;
        font-size: clamp(1rem, 2vmin, 1.5rem);
    }

    .navigation a:hover,
    .navigation a:active {
        color: #a3b18a;
        background-color: #053d2c;
    }

    #menu::before {
        content: "☰";

    }

    .open li {
        display: block;
    }

    #menu.open::before {
        content: "X";
    }







    main {
        display: grid;
        place-items: center;
        width: 100%;
        font-family: "Source Serif Pro";
        color: #053d2c;

    }

    main h2 {
        text-align: center;
    }








    .card {
        display: grid;
        grid-template-columns: auto;
        place-items: center;
        width: 90%;


    }

    .card :nth-child(2) {
        grid-column: 2/1;
    }

    .card li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card li a {
        text-decoration: none;
        color: #053d2c;
        font-family: "Dancing Script";
        list-style: none;
    }

    .card h3 {
        width: 100%;
        height: 50px;
        color: #a3b18a;
        background-color: #053d2c;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
    }

    .card label {
        color: #053d2c;
        font-family: "Dancing Script";
        display: flex;
        align-items: center;
        justify-content: center;

    }

    footer {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        color: #dff0c2;
        font-family: "Dancing Script";
        background-color: #053d2c;
        flex-direction: column;


    }

    strong {
        font-family: "Dancing Script";
    }

    #lastModified {
        font-family: "Source Serif Pro";
    }
}